html, body {
  touch-action:none;
  content-zooming:none;
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  background:#222;
  overflow:hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  display: block;
  box-shadow: 0px 0px 80px #000;
}

#texture {
  position: absolute;
  visibility: hidden;
}

#tool_bar {
  user-select: none;
  padding-right: 2em;
  color: white;
}

li {
  line-height: 1em;
  cursor: pointer;
  padding: 10px;
}

li:hover {
  background: #111;
}

li.active {
  border: 1px solid white;
  padding: 9px;
}

li.marker {
  color: #8888ff;
}

li.maker {
  color: #00aa00;
}
